---
import { t } from "i18next";
import "../../assets/styles/_01-sections/_homeSidebar.scss";
---

<section class="homeSidebar">
  <div class="homeSidebar__header">
    <h1 class="homeSidebar__name">Aldo Apicella</h1>
    <p class="homeSidebar__career">{t("HomeSidebar.career")}</p>
    <p class="homeSidebar__description">{t("HomeSidebar.description")}</p>
  </div>
  <div class="homeSidebar__tags">
    <b>{t("HomeSidebar.programming-languages")}</b>
    <ul class="homeSidebar__tagsList">
      <li class="homeSidebar__tag homeSidebar__tag--python">Python</li>
      <li class="homeSidebar__tag homeSidebar__tag--java">Java</li>
      <li class="homeSidebar__tag homeSidebar__tag--javascript">JavaScript</li>
      <li class="homeSidebar__tag homeSidebar__tag--typescript">TypeScript</li>
      <li class="homeSidebar__tag homeSidebar__tag--php">PHP</li>
      <li class="homeSidebar__tag homeSidebar__tag--sql">SQL</li>
    </ul>
  </div>
  <div class="homeSidebar__tags">
    <b>{t("HomeSidebar.technologies")}</b>
    <ul class="homeSidebar__tagsList">
      <li class="homeSidebar__tag homeSidebar__tag--node">Node</li>
      <li class="homeSidebar__tag homeSidebar__tag--react">React</li>
      <li class="homeSidebar__tag homeSidebar__tag--nestjs">NestJS</li>
      <li class="homeSidebar__tag homeSidebar__tag--express">Express</li>
      <li class="homeSidebar__tag homeSidebar__tag--jsp">JSP</li>
      <li class="homeSidebar__tag homeSidebar__tag--docker">Docker</li>
      <li class="homeSidebar__tag homeSidebar__tag--gcloud">Google Cloud</li>
      <li class="homeSidebar__tag homeSidebar__tag--aws">AWS</li>
      <li class="homeSidebar__tag homeSidebar__tag--azure">Azure</li>
    </ul>
  </div>
  <div class="homeSidebar__tags">
    <b>{t("HomeSidebar.architecture-patterns")}</b>
    <ul class="homeSidebar__tagsList">
      <li class="homeSidebar__tag homeSidebar__tag--hexagonal">Hexagonal Architecture</li>
      <li class="homeSidebar__tag homeSidebar__tag--mvc">MVC</li>
      <li class="homeSidebar__tag homeSidebar__tag--microservices">Microservices</li>
      <li class="homeSidebar__tag homeSidebar__tag--clean">Clean Architecture</li>
    </ul>
  </div>
  <!-- <ul class="sidebar__links">
    <li><a href="#about">{t('Sidebar.links.about')}</a></li>
    <li><a href="#experience">{t('Sidebar.links.experience')}</a></li>
    <li><a href="#projects">{t('Sidebar.links.projects')}</a></li>
    <li><a href="#education">{t('Sidebar.links.education')}</a></li>
  </ul> -->
  <!-- <ul class="sidebar__socialMedia">
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul> -->
</section>
