---
import { changeLanguage } from "i18next";
import "../../assets/styles/_02-pages/_home.scss";
import HomeSidebar from "../../sections/home/HomeSidebar.astro";
import HomeBody from "../../sections/home/HomeBody.astro";
import Layout from "../../layouts/Layout.astro";
import Light from "../../components/Light.astro";

changeLanguage("en");
---

<Layout title="Aldo Apicella">
  <Light client:load />
  <main class="home">
    <div class="home__container">
      <HomeSidebar />
      <HomeBody />
    </div>
  </main>
</Layout>
