@use './variables.scss' as *;

:root {
  --x: 500px;
  --y: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Inter", sans-serif;
  background-color: $black;
  color: $white;
}

ul {
  list-style: none;
}

p {
  color: rgba(255,255,255,.6);
  line-height: 1.75;
}

.light {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: -moz-radial-gradient(circle at var(--x) var(--y), rgba(0, 70, 175, 0.1) 0%, rgba(14, 23, 43, 1) 50%);
  background: -webkit-radial-gradient(circle at var(--x) var(--y), rgba(0, 70, 175, 0.1) 0%, rgba(14, 23, 43, 1) 50%);
  background: radial-gradient(circle at var(--x) var(--y), rgba(0, 70, 175, 0.1) 0%, rgba(14, 23, 43, 1) 50%);
}
