$white: #E2E8F0;
$black: #0E172A;


$tag-colors: (
  "python": #4B8BBE,
  "java": #F89820,
  "javascript": #F0DB4F,
  "typescript": #007ACC,
  "php": #AEB2D5,
  "sql": #E97B00,
  "html": #FF5722,
  "node": #68A063,
  "react": #61DAFB,
  "nestjs": #E0234E,
  "express": #FFFFFF,
  "jsp": #F89820,
  "docker": #0DB7ED,
  "gcloud": #4285F4,
  "aws": #FF9900,
  "azure": #00BCF2,
  "hexagonal": #FF6B6B,
  "mvc": #9ACD32,
  "microservices": #FF9A8B,
  "clean": #00E676
);